/*be sure to credit the person who we took this css from!*/
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Viaoda+Libre&display=swap");

:root {
    --background: hsl(270, 20%, 8%);
    --background-gradient: hsl(280, 25%, 12%);
    --border: hsl(40, 65%, 80%);
    --text: hsl(40, 70%, 85%);
    --button-hover: hsl(280, 25%, 12%);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    background: radial-gradient(
            circle at 100% 0%,
            var(--background-gradient),
            var(--background)
    );
    padding: 2rem;
    height: 100vh;
    color: var(--text);
}

nav {
    margin-top: 2vh;
    gap: 1vw;
}

#root {
    width: 100vw;
    height: 100vh;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

form {
    margin-top: 10vh;
}

img {
    position: absolute;
    width: 103vw;
    height: 105vh;
    margin: -10vh;
}

.error_center_div {
    margin: auto;
    width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.error_center_div h1 {
    margin-top: 10vh;
    margin-left: -5vw;
    font-weight: bold;
    font-size: 10em;
}

.error_center_div p {
    margin-top: 70vh;
    font-size: 1.5em;
    margin-left: -5vw;
    margin-bottom: 0vh;

}

.error_center_div a {
    color: var(--border);
    margin-top: 80vh;
    margin-bottom: 0vh;
}

.error_text {
    position: absolute;
    z-index: 1;
    color: black;
    text-decoration: none;
    font-family: "Viaoda Libre";

}

.sort_form {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.detail_button {
    margin-top: 5vh;
    width: 30vw;
    text-align: center;
}

.details_card {
    margin-top: 10vh;
    justify-content: center;
}

.main_button {
    padding: 5%;
    padding-bottom: 3%;
    margin: 2%;
    color: var(--border);
    background-color: black;
    border: 1px solid var(--border);
    text-decoration: none;
}

.secondary_button {
    color: var(--border);
    text-decoration: none;
}


h1 {
    font-family: "Viaoda Libre";
    text-align: center;
    font-size: 1.5em;
}

p {
    font-family: "Poiret One";
    line-height: 1.5;
    opacity: 0.8;
}

.cards {
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
}

section {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4vw;
    max-width: 100vw;
}

.card {
    display: flex;
    flex-direction: column;
    background: var(--background);
    width: 20rem;
    height: 30rem;
    border: 1px solid var(--border);
    position: relative;
    padding: 1rem;

    .corner {
        width: 0.5rem;
        height: 0.5rem;
        border: 1px solid var(--border);
        position: absolute;

        &::after,
        &::before {
            content: "";
            position: absolute;
        }

        &::after {
            width: 2rem;
            height: calc(1rem - 1px);
        }

        &::before {
            width: calc(1rem - 1px);
            height: 2rem;
        }

        &.left {
            left: -0.5rem;

            &::after {
                left: calc(-2px + 1rem);
                border-left: 1px solid var(--border);
            }

            &::before {
                left: -1px;
                border-left: 1px solid var(--border);
            }
        }

        &.right {
            right: -0.5rem;

            &::after {
                right: calc(-2px + 1rem);
                border-right: 1px solid var(--border);
            }

            &::before {
                right: -1px;
                border-right: 1px solid var(--border);
            }
        }

        &.top {
            top: -0.5rem;

            &::after {
                top: -1px;
                border-top: 1px solid var(--border);
            }

            &::before {
                top: calc(-2px + 1rem);
                border-top: 1px solid var(--border);
            }
        }

        &.bottom {
            bottom: -0.5rem;

            &::after {
                bottom: -1px;
                border-bottom: 1px solid var(--border);
            }

            &::before {
                bottom: calc(-2px + 1rem);
                border-bottom: 1px solid var(--border);
            }
        }
    }
}

button {
    display: flex;
    all: unset;
    font-family: "Viaoda Libre";
    text-align: center;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    height: 2rem;
    /*padding: 0 1rem;*/
    position: relative;
    transition: background 200ms ease-in-out;

    margin: 0 2rem;

    cursor: pointer;

    .left,
    .right {
        position: absolute;
        width: 1.45rem;
        height: 1.45rem;
        border-bottom: 1px solid var(--border);
        border-left: 1px solid var(--border);
        transition: background 200ms ease-in-out;

        &::before {
            content: "";
            width: 0.75rem;
            height: 0.75rem;
            border: 1px solid var(--border);
            position: absolute;
            top: calc(1rem - 1px);
            left: calc(-0.4rem - 1px);
        }

        &::after {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            background: var(--border);
            position: absolute;
            top: calc(1rem - 1px);
            left: calc(-0rem - 1px);
        }
    }

    .left {
        left: -0.75rem;
        transform: rotate(45deg);
    }

    .right {
        right: -0.75rem;
        transform: rotate(-135deg);
    }

    &:hover {
        background: var(--button-hover);

        .left,
        .right {
            background: var(--button-hover);
        }
    }
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}